#EXAMPLE .ENV!!! YOU NEED TO CREATE FILE .env

ADMINS=1234567б, 2412421, 12412412   #list of admins
BOT_TOKEN=1231241241241412:ABCDABCD:2412412412412   # bot token from @BotFather
IP=localhost   # ip for other services